/* Mobile */
@media only screen and (max-width: 450px) {
    .logo {
        display: none;
    }

    .pageintro section {
        display: block;
        max-width: 90%;
        word-wrap: break-word;
        padding-left: 20px;
    }

    .intro-heading {
        margin-bottom: 20px;
        font-size: 50px;
    }

    #cards {
        margin-top: 50px;
    }

}